/* Direct Elements */

body {
    background-color: #EDECEB;
}

div {
    align-content: center;
}

/* Id */
#mainBody {
    border: 1px solid #4CAF50;
    /* margin-top: 200px; */
}

/* Class */
.center {
    margin: auto;
    width: 50%;
    border: 3px solid blue;
    padding: 10px;
    text-align: center
}

