/* Direct Elements */

body {
    background-color: #EDECEB;
}

div {
    align-content: center;
}

/* Id */
#mainBody {
    /* border: 1px solid #4CAF50; */
    margin-top: 200px;
}
/* AvenirNext-UltraLight */
#intro {
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    width: 70%;
    font-weight: bold;
}

/* Class */
.center {
    margin: auto;
    /* border: 3px solid blue; */
    width: 70%;
    padding: 10px;
    text-align: center;
}

.firstLayerButtons {
    font-size: x-large;
    background-color: transparent;
    border: transparent;
    font-family: AvenirNext-UltraLight, Avenir, Courier, monospace, 'Courier New';
    font-style: bold;

}

.firstLayerButtons:hover {
    background-color: black;
    color: white;
}

.detailsPage {
    margin-top: 50px;
    /* border: 3px solid blue; */
    padding: 10px;
    font-size: x-large;
    font-family: Monospace, Courier, monospace;
    width: 80%;
    /* font-weight: bold; */
}

.column {
    float: left;
    width: 33.33%;
    
}
.workExperienceContent {
    text-align: center; 
    font-size: large; 
    font-family: 'Courier New', Courier, monospace;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}